.values {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}
.values li {
  border: 2px white solid;
  color: white;
  padding: 10px;
  font-size: 16px;
}

#create {
    background-color: rgb(50, 89, 131);
}
#money {
    background-color: rgb(0, 128, 0);
}
#logic {
    background-color: rgb(255, 165, 0);
}
#family {
    background-color: rgb(128, 0, 128);
}
#merit {
    background-color: rgb(255, 0, 0);
}
.PopThink {
  width: 70%;
}
