.market_ideas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.idea_sq {
  height: 150px;
  width: 220px;
  background-color: #3954b3;
  border-color: grey;
  border-radius: 80px;
  border-width: 7px;
  border-style: inset;
  text-align: center;
  padding: 5px;
  margin: 8px;
}
.idea_sq:hover {
  opacity: 80%;
  height: 160px;
  width: 230px;
  padding: 7px;
  font-size: 17px;
}
#price {
  font-weight: bold;
}
